<span [ngClass]='{"sb-nav-fixed": !static}'>
    <nav class="sb-topnav navbar-light top">
        <img src="../../../../assets/img/slide/3.jpg" style="width:80px; "
            class="col-lg-3 col-form-label form-control-label">
        <strong>ĐẶT SÂN BÓNG ĐÁ</strong>
        <button class="bt btn">
            <img src="../../../../assets/img/avatar.jpg" (click)="thongtin()" style="width:25px; ">
        </button>
        <div class=" menu">
            <img src="../../../../assets/img/slide/2.jpg" style="width:50px; height:40px "
                class="col-lg-3 col-form-label form-control-label">
            <button class="btn bt1" routerLink="/dashboard/home"><strong>TRANG CHỦ</strong></button>
            <button class="btn bt1" routerLink="/innkeeper/innkeeper"><strong>CÁC QUÁN CHƯA PHÊ DUYỆT</strong></button>
            <button class="btn bt1" routerLink="/innkeeper/quans"><strong>DANH DÁCH CÁC QUÁN</strong></button>
            <button class="btn bt1" routerLink="/innkeeper/thaydoidatsan"><strong>THAY ĐỔI ĐẶT SÂN</strong></button>
            <img src="../../../../assets/img/slide/4.jpg" style="width:50px; height:40px"
                class="col-lg-3 col-form-label form-control-label">
        </div>
    </nav>
    <div>
        <div>
            <main>
                <div class="container-fluid">
                    <ng-content></ng-content>
                </div>
            </main>
        </div>
    </div>
</span>
