@import 'styles/variables.scss';
.center {
  margin-left: auto;
  margin-right: auto;
 
}
.star{
  width: 3rem;
  height: 3rem
}
th {
	color: lightcyan;
	background-color:red;
  text-align: center;
}
tbody{
  background-color:#EEEEEE;
}
td{
  text-align: center;
  color: #222222;
  font-size:14px;
}

.border1{
	text-align: center;
    color:lightcyan;
	background-color: forestgreen;
}
.border2{
	text-align: center;
    color:lightcyan;
	background-color: darkgreen;
}
.checked {
  color: orange;
}
.nochecked{
  color:white;
}
