<nav class="sb-topnav navbar-light bg-light btn-sm  top">
    <a class="navbar-brand">Đặt sân bóng đá</a>
    <fa-icon class="btn fa-2x" id="sidebarToggle" 
             data-cy="topNavToggleSideNav"
         (click)="toggleSideNav()" class="fa-2x" [icon]='["fas", "bars"]'>
    </fa-icon>
        <!-- <button class="btn" id="sidebarToggle" 
             data-cy="topNavToggleSideNav"
         (click)="toggleSideNav()">
            <fa-icon class="fa-2x" [icon]='["fas", "bars"]'>
            </fa-icon>
        </button>Navbar Search -->
        <button class="bt float-right btn-outline-success" (click)="LogOut()">
            Đăng xuất
        </button>
    <!-- <form class="d-none text-right d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <button class="bt text-right btn-outline-success" (click)="LogOut()" >
                Đăng xuất
            </button>
        </div>
    </form>
 -->
    <!-- Navbar-->
    <!-- <ul class="navbar-nav ml-auto ml-md-0">
        <sb-top-nav-user></sb-top-nav-user>
    </ul> -->
</nav>
