@import 'styles/variables.scss';
nav-background{
    background-color: green;
}
.top{
	height: 35px;
	line-height: 5px;
	background-color: green;
	color: White;
}
img {
border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
}
.bt{
	float: right;
	color: White;
}

.mauchu{
	color:white;
}