@import 'styles/variables.scss';
nav-background{
    background-color: green;
}
.top{
	height: 35px;
	line-height: 5px;
	background-color: #00CC00;
	color: White;
}

.bt{
	float: right;
	color: White;
}
.mauchu{
	color:white;
}