@import 'styles/variables.scss';
.center {
  margin-left: auto;
  margin-right: auto;
 
}
td{
  color:lightcyan;
}
.border1{
  color:lightcyan;
  background-color:green;

}
.btdt{
    text-align: center;
    color:lightcyan;
    background-color:green
}
.checked {
  color: orange;
}
.nochecked{
  color:white;
}

