@import 'styles/variables.scss';
.btdt{
    text-align: center;
}
.border1{
  text-align: center;
	color:lightcyan;
	background-color: forestgreen;
}
.border2{
 	background-color:#41c04d;
  color:lightcyan;
}
td{
  text-align: center;
  color: red;
}
.checked {
  color: orange;
}
.nochecked{
  color:white;
}
