@import 'styles/variables.scss';
.center {
  margin-left: auto;
  margin-right: auto;
 
}
.border1{
  color:lightcyan;
	background-color: forestgreen;
}
.mauvachu{
  background-color:#41c04d;
  color:lightcyan;
}
// td{
//   text-align: center;
// }
.checked {
  color: orange;
}
.nochecked{
  color:white;
}
.mauchu{
  color:lightcyan;
}
img{
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  // width: 80%;
   height: 14rem;
}
tr{
  text-align: center;
}
td{
  text-align: center;
}